<div class="header">
  <div class="container">
    <div class="row nav-block">
      <div class="col-6 nav-block__logo">
        <h4>LOGO</h4>
      </div>
      <div class="col-6 nav-block__links">
        <a class="p-2">link1</a>
        <a class="p-2">link2</a>
        <a class="p-2">link3</a>
        <a class="p-2">link4</a>
      </div>
    </div>
    <div class="row intro-block">
      <div class="col-6 intro-block__body">
        <div class="intro-block__content">
          <h1 class="intro-block__title">Intro</h1>
          <p class="intro-block__text">Some introduction lines about the website or company</p>
        </div>
      </div>
      <div class="col-6 intro-block__img">
        <!-- <img src="../img/" alt="" /> -->
      </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="sphere-block">
    <div class="sphere-block__ball" *ngFor="let item of [0, 1, 2, 3]"></div>
  </div>
</section>
<section class="container">
  <div class="grid-blocks">
    <div class="grid-blocks__block" *ngFor="let item of [0, 1, 2, 3, 4, 5]">Services</div>
  </div>
  <div class="col-12 twitter-block">Twitter Feed</div>
</section>
<div class="footer">
  <div class="container">
    <div class="row footer-block">
      <div class="col-6 footer-block__links">
        <a class="p-2">link1</a>
        <a class="p-2">link2</a>
        <a class="p-2">link3</a>
        <a class="p-2">link4</a>
      </div>
      <div class="col-6 footer-block__text">
        <p>info</p>
      </div>
    </div>
  </div>
</div>
